<section class="oe_container">
    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h2 class="oe_slogan" style="margin-left: 250px;"><b><span class="fa fa-star fa-spin"></span>
                    Payment Commmission Report </span></b></h2>
        </div>
    </div>
    <h3 class="oe_slogn" style="text-align: center;color: #31708f;">The purpose of this module is to create report of payment commission on basis of paid amount % in the invoice according to filters.
    </h3>
    <div class="oe_row oe_centered">
        <div class="oe_row oe_spaced">
        <div class="oe_span12">
                <center><img class="img-border img-responsive thumbnail" src="image/production_menu.png"/></center>
                </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
                The above menu will open Production Report Wizard.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12">
                <center><img class="img-border img-responsive thumbnail" src="image/save_filter_menu.png"></center>
            </div>
        </div>
         <div>
            <h3 class="oe_slogn" style="text-align: center">
                All the saved filters from the wizard can be seen  here.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/payment_commission_report_type.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
                Above is the Wizard view, where user can input start date, end date which acts as filter for payment commissions along with the input of department and sales person.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/filter_template_view.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
                Above is the form view of the search filters which is saved from wizard.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/last_month_filter.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
            Filters are added in the search filter templates.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/group_by.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
            Group by is added in the search filter templates.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/payment_commission_report1.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
            Payment Commission Report with commission amount as per paid% of invoice and commission % of each commission line.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/payment_commission_report2.png"><center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
            Final Total in the report as per all Sales Person and their respective departments which includes Total Amount and Total Commission.
            </h3>
        </div>
    </div>
</section> 