<section class="oe_container">
    <div class="oe_row oe_centered">
        <div class="oe_span_10 oe_centered">
            <h2 class="oe_slogan" style="margin-left: 250px;"><b><span class="fa fa-star fa-spin"></span>
                    Production Report </span></b></h2>
        </div>
    </div>
    <h3 class="oe_slogn" style="text-align: center;color: #31708f;">The purpose of this module is to create report of production on basis of date filters, sales person and departments.
    </h3>
    <div class="oe_row oe_centered">
        <div class="oe_row oe_spaced">
        <div class="oe_span12">
                <center><img class="img-border img-responsive thumbnail" src="image/production_menu.png"/></center>
                </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
                The above menu will open Production Report Wizard.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12">
                <center><img class="img-border img-responsive thumbnail" src="image/save_filter_menu.png"></center>
            </div>
        </div>
         <div>
            <h3 class="oe_slogn" style="text-align: center">
                All the saved filters from the wizard can be seen  here.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/production_report_type.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
                Above is the Wizard view, where user can input start date, end date which acts as filter for Invoices along with the input of department and sales person.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/save_filter_form.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
                Above is the form view of the search filters which is saved from wizard.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/last_month_filter.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
            Filters are added in the search filter templates.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/group_by.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
            Group by is added in the search filter templates.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/production_report.png"></center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
            Production Report of a Salesperson having two departments.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/production_report_final_total.png"><center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
            Final Total as per all Sales Person and their respective departments which includes Total Amount, Total Untaxed and Total Tax Amount.
            </h3>
        </div>
        <div class="oe_row oe_centered">
            <div class="oe_span12"><br/>
                <center><img class="img-border img-responsive thumbnail" src="image/production_report_with_refund.png"><center>
            </div>
        </div>
        <div>
            <h3 class="oe_slogn" style="text-align: center">
            If the invoice is refunded then the negative values will be considered.
            </h3>
        </div>
    </div>
</section> 